<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= AQI.County + AQI.SiteName %>空氣品質</title>
</head>

<body>
<p>
  PM2.5指數： <%= AQI["PM2.5_AVG"] %> <br>
  空氣污染指標物：<%= (AQI.Pollutant == '') ? '無數據' : AQI.Pollutant %> <br>
  狀態： <strong><%= AQI.Status %></strong> <br>
  發布時間：<%= AQI.PublishTime %>
</p>
<p>
  以上資料來源：國家發展委員會 <a href="https://data.gov.tw/dataset/40448" target="_blank">政府資料開放平台</a> <br>
  範例提供：<a href="http://swf.com.tw/" target="_blank">swf.com.tw</a>
</p>
</body>
</html>